


	<div class="window-header">
		<div class="pop-title"> 子弹窗 </div>
	</div>

	<div class="window-content">
		<div class="pop-content-wrapper">
	
	<div class="col-2 clearfix">
		<div class="list-item fl">
			<label>变动日期</label>
			<div class="form-input">
		        <input placeholder="请填写" />
		    </div> 
		</div>

		<div class="list-item fr">
			<label>变动原因</label>
			<div class="form-input">
		        <input placeholder="请填写" />
		    </div> 
		</div>
	</div>
	<div class="list-item">
		<label>日期</label>
		<div class="form-input">
	        <input placeholder="请填写" />
	    </div>
	</div>
	<div class="col-2 clearfix">
		<div class="list-item fl">
			<label>请假类型</label>
			<div class="form-input">
		        <input placeholder="请填写" />
		    </div> 
		</div>

		<div class="list-item fr">
			<label>请假天数</label>
			<div class="form-input">
		        <input placeholder="请填写" />
		    </div> 
		</div>
	</div>
	
	<div class="list-item">
		<label>关联项</label>
		<div class="form-input">
	        <input placeholder="请填写" class="go-sub-pop"/>
	    </div> 
	</div>
</div>


	</div>
	
	<div class="window-footer">
		<div class="footer-cancle-btn"><div>
	
		<span class="common-btns-bgc-big bg-ripple comfirm">
			<span class="btn-title">确定</span>
			<i class="ripple"></i>
		</span>
	

</div></div>
		<div class="footer-comfirm-btn"><div>
	
		<span class="common-btns-bgc-big bg-ripple cancle">
			<span class="btn-title">取消</span>
			<i class="ripple"></i>
		</span>
	

</div></div>
	</div>