
<div class="common-btns-bg-gray btns btn-for-events icon-btn"></div>
<ul class="list-ul-box list-ul-box-front">
	<li class="list-item" item-index="1">查看详情</li>
	<li class="list-item" item-index="2">性质维度</li>
	<li class="list-item" item-index="3">地域维度</li>
	<li class="list-item" item-index="4">包含下属</li>
	<li class="list-item" item-index="5">不包含下属</li>
	<li class="item-high-light"></li>
</ul>

<ul class="list-ul-box list-ul-box-shadow">
	<li class="item-1">查看详情</li>
	<li class="item-2">性质维度</li>
	<li class="item-3">地域维度</li>
	<li class="item-4">包含下属</li>
	<li class="item-5">不包含下属</li>
</ul>
