<table class="table">
		<thead>
	       <tr>
				<th class="sort-default" sortIndex='0'>
					<span class="title">
						状态
						<span class="arrow-up"></span>
						<span class="arrow-down"></span>
					</span>
					<span class="size-changing"><span></span></span>
				</th>
				<th class="sort-default" sortIndex='0'>
					<span class="title">
						工号
						<span class="arrow-up"></span>
						<span class="arrow-down"></span>
					</span>
					<span class="size-changing"><span></span></span>
				</th>
				<th class="sort-default" sortIndex='0'>
					<span class="title">
						姓名
						<span class="arrow-up"></span>
						<span class="arrow-down"></span>
					</span>
					<span class="size-changing"><span></span></span>
				</th>
				<th class="sort-default" sortIndex='0'>
					<span class="title">
						部门
						<span class="arrow-up"></span>
						<span class="arrow-down"></span>
					</span>
					<span class="size-changing"><span></span></span>
				</th>
				<th class="sort-default" sortIndex='0'>
					<span class="title">
						机构
						<span class="arrow-up"></span>
						<span class="arrow-down"></span>
					</span>
					<span class="size-changing"><span></span></span>
				</th>
				<th class="sort-default" sortIndex='0'>
					<span class="title">
						职位
						<span class="arrow-up"></span>
						<span class="arrow-down"></span>
					</span>
					<span class="size-changing"><span></span></span>
				</th>
				<th class="sort-default" sortIndex='0'>
					<span class="title">
						职级
						<span class="arrow-up"></span>
						<span class="arrow-down"></span>
					</span>
					<span class="size-changing"><span></span></span>
				</th>
			</tr>
      	</thead>
		
		<tr>
			<td><span class="label-red">请假审批</span></td>
			<td>line6</td>
			<td><a class="blue" href="#approve/detail">11061</a></td>
			<td>技术部</td>
			<td>北森云计算</td>
			<td>职位</td>
			<td>资深</td>
			
		</tr>
		<tr>
			<td><span class="label-red">请假审批</span></td>
			<td>lin8</td>
			<td><a class="blue" href="#approve/detail">杨小贝</a></td>
			<td>技术部</td>
			<td>北森云计算</td>
			<td>技术部</td>
			<td>资深</td>
			
		</tr>
		<tr>
			<td><span class="label-green">采购审批</span></td>
			<td>lin10</td>
			<td><a class="blue" href="#approve/detail">小虫虫</a></td>
			<td>研发部门</td>
			<td>北森云计算</td>
			<td>研发部门</td>
			<td>高级</td>
			
		</tr>
		<tr>
			<td><span class="label-red">请假审批</span></td>
			<td>lin10</td>
			<td><a class="blue" href="#approve/detail">杨大帆</a></td>
			<td>客户成功部</td>
			<td>北森云计算</td>
			<td>客户成功</td>
			<td>初级</td>
			
		</tr>
		<tr>
			<td><span class="label-blue">借贷审批</span></td>
			<td>line6</td>
			<td><a class="blue" href="#approve/detail">11061</a></td>
			<td>技术部</td>
			<td>北森云计算</td>
			<td>职位</td>
			<td>资深</td>
			
		</tr>
		<tr>
			<td><span class="label-orange">出差审批</span></td>
			<td>line6</td>
			<td><a class="blue" href="#approve/detail">11061</a></td>
			<td>技术部</td>
			<td>北森云计算</td>
			<td>职位</td>
			<td>资深</td>
			
		</tr>
		<tr>
			<td><span class="label-red">请假审批</span></td>
			<td>line6</td>
			<td><a class="blue" href="#approve/detail">11061</a></td>
			<td>技术部</td>
			<td>北森云计算</td>
			<td>职位</td>
			<td>资深</td>
			
		</tr>
		<tr>
			<td><span class="label-green">请假审批</span></td>
			<td>line6</td>
			<td><a class="blue" href="#approve/detail">11061</a></td>
			<td>技术部</td>
			<td>北森云计算</td>
			<td>职位</td>
			<td>资深</td>
			
		</tr>
		<tr>
			<td><span class="label-orange">出差审批</span></td>
			<td>line6</td>
			<td><a class="blue" href="#approve/detail">11061</a></td>
			<td>技术部</td>
			<td>北森云计算</td>
			<td>职位</td>
			<td>资深</td>
			
		</tr>
		<tr>
			<td><span class="label-blue">请假审批</span></td>
			<td>line6</td>
			<td><a class="blue" href="#approve/detail">11061</a></td>
			<td>技术部</td>
			<td>北森云计算</td>
			<td>职位</td>
			<td>资深</td>
			
		</tr>
		<tr>
			<td><span class="label-orange">出差审批</span></td>
			<td>line6</td>
			<td><a class="blue" href="#approve/detail">11061</a></td>
			<td>技术部</td>
			<td>北森云计算</td>
			<td>职位</td>
			<td>资深</td>
			
		</tr>
</table>

<div class="page-group">
	<span class="page-num-item">1</span>
	<span class="page-num-item">2</span>
	<span class="page-num-item">3</span>
	<span class="page-num-item">4</span>
	<span class="page-num-item active">5</span>
	<span class="page-num-item">6</span>
	<span class="page-num-item">7</span>
	<span class="page-num-item">8</span>
	<span class="page-num-item">9</span>
	<span class="page-num-item">...</span>
	<span class="page-num-item">101</span>
	<span class='page-num-item next-page'>下一页</span>
</div>