
<!-- <img class="simple-task" src="images/dongtai1.png"> -->
<div class="simple-task">
	<div class="task-head clearfix">
		<div class="task-title font-16">任务</div>
		<div class="task-detail font-14">
			移动端可查看基本的附件，例如word、记事本等文件，如果任务的名字表较长就这么显示吧，反正都要现实全的
		</div>
	</div>

 
	<div class="task-content clearfix">
		<div class="task-title font-14">
			<span class="img"></span>
			 <span class="text ">任务</span>
		</div>
		<div class="task-detail font-12">
			任务的描述基于什么的做这个任务，希望你们看看，字数过多就...
		</div>
	</div>

	<div class="task-record clearfix">
		<span class="img"></span>
		<span class="text ">2015/4/14  19:00  杨小贝：发起了任务</span>
	</div>


</div>