<p class="clearfix" >
    <span class="status-switch" data-name="changeSwitch">
        <span></span>
        <span></span>
        <span></span>
    </span>
</p>

<div id="nav-ul-fir-wrapper" class="">
    <ul class="nav-ul-fir clearfix">

        <li class="nav-li-fir no-sub-list active" index="0" >
            <a href="#home" class="nav-title" level= "1">首页</a>
        </li>

        <li class="nav-li-fir no-sub-list" index="1" >
            <a href="#dashboard" class="nav-title" level= "1">仪表盘</a>
        </li>

        <li class="nav-li-fir has-sub-list" index="2" haschildren="true">
            <a href="javascript:void(0)" class="nav-title" level= "1">工作计划</a>
            <ul class="nav-ul-sec">
                <li index="1"><a href="#about" level= "2">计划</a></li>
                <li index="2"><a href="#about" level= "2">项目</a></li>
                <li index="3"><a href="#about" level= "2">日报</a></li>
                <li index="4"><a href="#about" level= "2">帮助</a></li>
            </ul>
        </li>

        <li class="nav-li-fir has-sub-list" index="3" haschildren="true">
            <a href="javascript:void(0)" class="nav-title" level= "1">绩效管理</a>
            <ul class="nav-ul-sec">
                <li index="1"><a href="#about" level= "2">我的绩效</a></li>
                <li index="2"><a href="#about" level= "2">团队绩效</a></li>
            </ul>
        </li>

        <li class="nav-li-fir no-sub-list" index="5" >
            <a href="#about" class="nav-title" level= "1">目标管理</a>
        </li>

        <li class="nav-li-fir no-sub-list" index="6" >
            <a href="#persons" class="nav-title" level= "1">核心人力</a>
        </li>

        <li class="nav-li-fir no-sub-list" index="7" >
            <a href="#about" class="nav-title" level= "1">职业发展</a>
        </li>

        <li class="nav-li-fir has-sub-list" index="8" haschildren="true">
            <a href="javascript:void(0)" class="nav-title" level= "1">同事</a>
            <ul class="nav-ul-sec">
                <li index="1"><a href="#staff" level= "2">人员</a></li>
                <li index="2"><a href="#staff/relation" level= "2">汇报关系</a></li>
                <li index="3"><a href="#staff/report" level= "2">组织架构</a></li>
            </ul>
        </li>

        <li class="nav-li-fir has-sub-list" index="9"  haschildren="true">
            <a href="javascript:void(0)" class="nav-title" level= "1">应用</a>
            <ul class="nav-ul-sec">
                <li index="1"><a href="#approve" level= "2">快速审批</a></li>
                <li index="2"><a href="#about" level= "2">客户支持</a></li>
                <li index="3"><a href="#about" level= "2">会议预定</a></li>
            </ul>
        </li>
        <li class="nav-li-fir has-sub-list" index="4" haschildren="true">
            <a href="javascript:void(0)" class="nav-title" level= "1">人才魔方</a>
            <ul class="nav-ul-sec">
                <li index="1"><a href="#human" level= "2">首页</a></li>
                <li index="2"><a href="#human/staff" level= "2">员工</a></li>
                <li index="3"><a href="#human/search" level= "2">查询</a></li>
                <li index="4"><a href="#human/settings" level= "2">设置</a></li>
            </ul>
        </li>
        <li class="item-bg-slider" index="1"></li>
    </ul>
</div>
